.hidden-content{
    display: none;
}
@keyframes grow {
    from {opacity: 0}
    to {opacity: 1}
  }
.hidden-content.active {
    display: block;
    animation-name:grow;
    animation-duration: 2s;
}
.timeline-container{
    position:relative;
}
/*vertical ruler*/
.timeline {
    position: relative;
    margin: 0 auto;
  }
  
/*vertical ruler*/
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
  
/* container around content */
.inner-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
  
/* circles on the timeline */
.inner-container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -7px;
    background-color: #FF4F44;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
/* place container left */
.left {
    left: 0;
}
  
/* place container right */
.right {
    left: 50%;
}
  
/* arrows left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #FFAC61;
}
  
/* arrows right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #FFAC61 transparent transparent;
}
  
/* Fix the circle for containers on the right side */
.right::after {
    left: -12px;
}
  
/* The actual content */
.content {
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    border: 4px solid #FFAC61;
}
  
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    
    /* Full-width containers */
    .inner-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .inner-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent #FFAC61 transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

.technologyIcon{
    width:50px;
    height:50px;
}